@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --white: #fff;
  --cream: #faebd7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: var(--cream);
  margin: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  transform-origin: top left;
  transition: 0.5s transform;
  background-color: var(--white);
  height: 105vh;
  z-index: 100;
}

.show-nav {
  transform: rotate(-15deg);
}

.container-nav {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 1000;
}

.nav-circle {
  background-color: violet;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1000 !important;
  animation: scaling infinite 1.5s ease-in-out;
}

.open {
  transform: rotate(-15deg);
}
